html {
	font-size: 13px;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	min-height: 100%;
	font-family: "PT+Sans", sans-serif;
	line-height: 24px;
}

main,
header,
footer,
article,
section,
form,
nav {
	display: block;
}

input,
button,
select,
option {
	font-family: "Cuprum", sans-serif;
	box-sizing: border-box;
}

/* --- */

.container {
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0 auto;
	max-width: 960px;
}

/* --- */

.main-header {
	background-color: #f3f7f8;
	font-family: "Cuprum", sans-serif;
	font-size: 17px;
}

.main-header__top {
	height: 42px;
	background-color: #293449;
	color: #fff;
}

.main-header__top .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}

.main-header__top .container .logo {
	display: block;
	width: 220px;
	height: 47px;
	background-color: #ee3643;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-box-shadow: inset 0 -5px 0 rgba(0,0,0,.24);
	box-shadow: inset 0 -5px 0 rgba(0,0,0,.24);
}
.main-header__top .container .logo:hover {
	background-color: #ca2c37;
}
.main-header__top .container .logo:active {
	background-color: #ba2732;
}

.main-header__top .container .form-search {
	height: 100%;
	width: 270px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.main-header__top .container .form-search input[name="search-input"] {
	position: relative;
	height: 100%;
	width: 270px;
	border: none;
	outline: none;
	font-size: inherit;
	color: #fff;
	background-color: transparent;
	box-sizing: border-box;
	padding-left: 45px;
}
.main-header__top .container .form-search input[name="search-input"] + label {
	height: 100%;
	width: 45px;
	order: -1;
	margin-right: -45px;
	background-image: url("../img/icon-search.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: .3;
	z-index: 100000;
}
.main-header__top .container .form-search input[name="search-input"]:hover {
	background-color: #212a3a;
}
.main-header__top .container .form-search input[name="search-input"]:hover + label {
	opacity: 1;
}
.main-header__top .container .form-search input[name="search-input"]::placeholder {
	color: #fff;
}
.main-header__top .container .form-search input[name="search-input"]:focus {
	background-color: #fff;
	color: #000;
}
.main-header__top .container .form-search input[name="search-input"]:focus::placeholder {
	color: #ccc;
}
.main-header__top .container .form-search input[name="search-input"]:focus + label {
	background-image: url("../img/icon-search-red.png");
	opacity: 1;
}

.main-header__top .container .bookmark,
.main-header__top .container .basket,
.main-header__top .container .order {
	display: flex;
	height: 100%;
	width: 150px;
	text-align: left;
	line-height: 100%;
	color: #fff;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	position: relative;
}

.main-header__top .container .bookmark::before,
.main-header__top .container .basket::before {
	content: "";
	position: absolute;
	left: 16px;
	top: 50%;
	height: 16px;
	width: 18px;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	opacity: .3;
}
.main-header__top .container .bookmark::before {
	background-image: url("../img/icon-bookmark.png");
}
.main-header__top .container .basket::before {
	background-image: url("../img/icon-cart.png");
}
.main-header__top .container .bookmark:hover::before,
.main-header__top .container .basket:hover::before {
	opacity: 1;
}
.main-header__top .container .bookmark:hover,
.main-header__top .container .basket:hover {
	background-color: #212a3a;
}
.main-header__top .container .bookmark:active::before,
.main-header__top .container .basket:active::before {
	opacity: .5;
}
.main-header__top .container .bookmark:active,
.main-header__top .container .basket:active {
	color: rgba(255,255,255,.6);
	background-color: #212a3a;
}
.main-header__top .container .order {
	background-color: #63a63e;
}
.main-header__top .container .order:hover {
	background-color: #5fbb2d;
}
.main-header__top .container .order:active {
	background-color: #518534;
	color: rgba(255,255,255,.5);
}


.main-header__bottom {
	background-color: #f3f7f8;
	padding-top: 50px;
	padding-bottom: 60px;
}

.main-header__bottom > div {
	display: flex;

}

.main-header__bottom > div > * {
	width: 300px;
}

.main-header__bottom > div > p {
	margin: 0;
	padding: 0;
	padding-left: 50px;
	font-style: italic;
	color: #ee3643;
}


.main-header__contacts > div {
	width: 270px;
}
.main-header__contacts > div > span {
	display: block;
	text-align: center;
	font-style: normal;
}

.main-header__contacts .phone {
	border: solid 3px #fff;
	background-image: url("../img/icon-phone.png");
	background-repeat: no-repeat;
	background-position: 13px center;
	font-size: 21px;
	color: #ee3643;
	height: 45px;
	line-height: 45px;
}
.main-header__contacts .address {
	font-size: 14px;
	color: #32425c;
}

.main-header__user-block .guest {
	float: right;
	font-size: 0;
}
.main-header__user-block .btn-login,
.main-header__user-block .btn-reg {
	display: inline-block;
	position: relative;
	background-color: #fff;
	font-size: 21px;
	color: #000;
	text-decoration: none;
	height: 45px;
	line-height: 45px;
	padding: 0 25px;
	margin: 0 0 0 15px;
}
.main-header__user-block .btn-login:hover,
.main-header__user-block .btn-reg:hover {
	color: #ee3643;
}

.main-header__user-block .btn-login {
	padding-left: 45px;
}
.main-header__user-block .btn-login::before {
	content: "";
	position: absolute;
	left: 16px;
	top: 50%;
	height: 17px;
	width: 20px;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	opacity: 1;

	background-image: url("../img/icon-login.png");
}
.main-header__user-block .btn-login:hover::before {
	opacity: .3;
}
.main-header__user-block .btn-login:active::before {
	opacity: 1;/**/
}
.main-header__user-block .btn-login:active,
.main-header__user-block .btn-reg:active {
	color: rgba(0,0,0, .3);
}



/*
.main-header__top .container .basket::before {
	content: "";
	position: absolute;
	left: 16px;
	top: 50%;
	height: 16px;
	width: 18px;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	opacity: .3;
}
.main-header__top .container .bookmark::before {
	background-image: url("../img/icon-bookmark.png");
}
.main-header__top .container .basket::before {
	background-image: url("../img/icon-cart.png");
}
.main-header__top .container .bookmark:hover::before,
.main-header__top .container .basket:hover::before {
	opacity: 1;
}
.main-header__top .container .bookmark:hover,
.main-header__top .container .basket:hover {
	background-color: #212a3a;
}
.main-header__top .container .bookmark:active::before,
.main-header__top .container .basket:active::before {
	opacity: .5;
}
.main-header__top .container .bookmark:active,
.main-header__top .container .basket:active {
	color: rgba(255,255,255,.6);
	background-color: #212a3a;
}
**/






























.top-menu {
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;
}

.top-menu ul {
	list-style: none;
	padding: 0;
	height: 60px;
	display: flex;
	justify-content: space-around;
}
.top-menu li {
	flex-grow: 1;
}
.top-menu a {
	color: #fff;
	text-decoration: none;
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 10px;
	justify-content: center;
}
.top-menu a:hover {
	background-color: #293449;
}
.top-menu a:active {
	background-color: #1d2739;
	color: rgba(255,255,255,.5);
}
/* --- */
