html {
   box-sizing: border-box; 
}
*, 
*::before, 
*::after { 
   box-sizing: inherit; 
}
body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	padding: 0 30px;

	line-height: 89px;
	vertical-align: middle;

	color: #32425c;
	background-color: #f2f6f8;
}

/* --- */

:focus {
	outline: none;
	box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.4);
}

/* --- */

.container {
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

/* --- */

.visually-hidden { /* скрывает элементы, которые по СЕО должны присутствовать */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- */

.btn { /* Общий класс для кнопок (визуальных) */
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	
	color: #ffffff;
	background-color: #ee3643;
}

/* --- */

.main-header {
	font-family: "Cuprum", "Arial Narrow", sans-serif;

	background-color: #f4f7f9;
}

.header-top-bg {
	background-color: #293449;
}

.main-header-top {
	display: flex;
	justify-content: space-between;

	font-size: 17px;
	color: #ffffff;
}

.logo {
	display: flex;

	width: 220px;
	height: 42px;
	
	background-color: #ee3643;

	box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
							0 5px 0 0 #ee3643;
}

.logo img {
	width: 108px;
	height: 18px;
	margin: auto;
}

.logo-footer {
	height: 63px;
}

.logo-footer img {
	width: 136px;
	height: 22px;
}

.bookmark,
.basket,
.order {
	color: #ffffff;
}

.full {
	background-color: #ee3643;
}

.order {
	background-color: #63a63e;
}

.main-header-middle {
	display: flex;
	justify-content: space-between;
}

.header-description {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;

	width: 300px;

	padding: 0 50px;
}

.header-contacts .phone {
	display: block;
				/* этот класс может встречаться в других частях сайта
					 (в частности он присутствует в подвале). При этом
					 и телефон и адрес имеют специфичное оформление.
					 Поэтому я здесь использую вложенные селекторы */
	font-size: 21px;
	font-style: normal;
	color: #e9292a;
}

.header-contacts .address {
	font-size: 14px;
	font-style: normal;
	color: #32425c;
}

.user-block {
	width: 300px;
}

.profile-list-buttons {
	display: flex;

	padding: 0;
}

.profile-list-links {
	display: flex;

	padding: 0;
}

.profile-list-buttons a {
	font-size: 21px;
	color: #000000;
}

.profile-list-links a {
	font-size: 16px;
	color: #32425c;
	text-decoration: underline;
}

.top-menu {
	font-size: 17px;
}

.top-menu-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;

	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;
}

.top-menu a {
	color: #ffffff;
}

/* --- */

.section-gray {
	background-color: #f4f8f9;
	background-image: url(../img/bg-gray.png);
}

/* --- */

.catgory-list {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "Arial Narrow", sans-serif;
}

.catgory-item {
	color: #ffffff;
}

.materials {
	background-color: #ffbf47;
}

.instrument {
	background-color: #3bbce3;
}

.technic {
	background-color: #dc91d8;
}

.discount {
	background-color: #8ed78f;
}

.delivery {
	background-color: #ffc047;
}

.slider {
	background-color: #1c1210;
}

.catgory-item h3 {
	font-size: 24px;
	font-weight: bold;
	text-transform: none;
}

.category-link {
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: rgba(0, 0, 0, 0.1);
}

/* --- */

.slider-header h3 {
	font-size: 36px;
	text-transform: uppercase;
}

.slider-header p {
	font-size: 18px;
}

.catgory-slider-item {
	display: none;
}

/* Здесь двойная вложенность для обеспечения работы перключателей слайдера */
#catgory-check-1:checked ~ .catgory-slider-list .catgory-slider-item:nth-child(1),
#catgory-check-2:checked ~ .catgory-slider-list .catgory-slider-item:nth-child(2) {
	display: block;
}

/* --- */

.title-block {
	background-color: #f9f5f0;
}

.title-block h2 {
	color: #32425c;
}

/* --- */

.products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
}

.product-item {
	display: flex;
	flex-direction: column;

	width: 220px;

	text-align: center;
}

.poduct-image {
	order: -1;
}

.product-name {
	margin: 0;
	margin-bottom: auto;

	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

.product-price-old {
	font-size: 17px;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: line-through;
}

.product-price {
	font-size: 17px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;

	background-color: #ee3643;
}

.btn-buy {
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;

	background-color: #63a63e;
}

/* --- */

.banner-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.banner-item {
}

.banner {
	display: flex;

	width: 220px;
	height: 130px;

	border: solid #eaeaea 1px;
}

.banner img {
	margin: auto;
}

/* --- */

.services-nav {
	width: 240px;
	margin: 0;
	padding: 0;
}

.services-list {
	width: 620px;
}

.services label {
	display: block;

	font-size: 21px;
	color: #ffffff;

	background-color: #32425c;
}

.services h3 {
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32425c
}

.services-item {
	min-height: 400px; /* это временно, чтоб увидеть фон */

	display: none;

	margin: 0;
	padding: 0;
	padding-right: 240px;
}

/* Здесь двойная вложенность для обеспечения работы перключателей 
   вкладок в блоке "Сервисы" */

#delivery:checked ~ .services-nav label[for="delivery"],
#guarantee:checked ~ .services-nav label[for="guarantee"],
#credit:checked ~ .services-nav label[for="credit"] {
	color: #32425c;
	background-color: #ffffff;
}

#delivery:checked ~ .services-list .services-item-delivery,
#guarantee:checked ~ .services-list .services-item-guarantee,
#credit:checked ~ .services-list .services-item-credit {
	display: block;
}

#delivery:focus ~ .services-nav label[for="delivery"],
#guarantee:focus ~ .services-nav label[for="guarantee"],
#credit:focus ~ .services-nav label[for="credit"] {
	outline: none;
	box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.4);
}

.services-item {
	background-repeat: no-repeat;
	background-position: right bottom;
}

.services-item-delivery {
	background-image: url(../img/services-delivery-bg.png);
}

.services-item-guarantee {
	background-image: url(../img/services-guarantee-bg.png);
}

.services-item-credit {
	background-image: url(../img/services-credit-bg.png);
}

/* --- */

.columns {
	display: flex;
	justify-content: space-between;
}

.section-about {
	width: 540px;
}

.section-contacts {
	width: 300px;
}

/* --- */

.list-marker {
	line-height: 40px;
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 18px;
}

/* --- */

.breadcrumbs {
	display: flex;

	padding: 0;

	text-transform: uppercase;
}

.breadcrumbs li {

}

.breadcrumbs a {
	color: #000000;
}

/* --- */

.catalog-middle {
	display: flex;
	justify-content: space-between;
}

/* --- */

.sidebar {
	width: 220px;
}

/* --- */

.catalog-content {
	width: 700px;
}

/* --- */

.horiz-pannel {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 38px;
	margin: 0;
	padding: 0 15px 0 20px;

	font-size: 13px;
	text-transform: uppercase;

	background-color: #f7f3ec;
}


.title-pannel,
.sort-fields-list,
.sort-order-list {
	margin: 0;
	padding: 0;
}

.title-fieldset {
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
}

.fieldset-form {
	padding: 0;

	border: none;
}

.sort-fields-list {
	display: flex;
}

.sort-fields-list a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: #ee3643 1px dotted;
}

.sort-fields-list .active {
	color: #ee3643;
	border: none;
}

.sort-order-list {
	display: flex;
}

/* --- */

.options-list {
	margin: 0;
	padding: 0;

	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.btn-option {
	font-family: inherit;
	font-size: 13px;
	color: #000000;

	background-color: transparent;
}

/* --- */

.pagination-list {
	display: flex;

	padding: 0;
}

.pagination-item {
	margin: 0;
	margin-right: 10px;
}

.pagination-item	a {
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;

	border: solid 1px #e5e5e5;
}

.pagination-item-current a {
	color: #ffffff;

	background-color: #ee3643;
}

/* --- */

.main-footer {
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	color: #ffffff;

	background-color: #293449;
}

.footer-top-bg {
	background-color: #32425c;
}

.footer-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	font-size: 18px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;

	font-size: 16px;
}

.main-footer a {
	color: #ffd180;
}

.footer-menu-list,
.footer-addmenu-list {
	display: flex;
	justify-content: flex-end;

	margin: 0;
	padding: 0;
}

.footer-menu-item,
.footer-addmenu-item {
	margin-left: 60px;
}

.footer-menu-item a {
	color: #ffffff;
}

.footer-contacts {
	font-style: normal;
}

.footer-contacts .phone {
	color: #ffffff;
}

.footer-contacts .address {
	display: block;
}

.social-links-list {
	display: flex;
	justify-content: space-between;

	width: 132px;
	padding: 0;	
}

.social-link  {
	display: block;
	
	width: 41px;
	height: 41px;

	border-radius: 50%;

	background-color: #212a3a;
	background-position: center;
	background-repeat: no-repeat;

	text-indent: -1000px;
	overflow: hidden;
}

.social-link-vk {
	background-image: url("../img/icon-vk.svg");
}

.social-link-fb {
	background-image: url("../img/icon-fb.svg");
}

.social-link-insta {
	background-image: url("../img/icon-insta.svg");
}

.contact-links-list {
	display: flex;
	justify-content: space-between;

	width: 300px;
	padding: 0;
}

.contact-links-email {
	width: 160px;
}

.contact-links-site {
	width: 111px;
}

/* --- */

.popup {
	display: none;
}

